.container {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    overflow: hidden;
}

#box {
    width: 50vw;
    height: 60vh;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
}

.ballon {
    width: 50px;
    height : 50px;
    background-color: red;
    border-radius: 50%;
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.circle{
    width: 8px;
    height: 8px;
    background-color: black;
    margin-bottom: -5px;
    border-radius: 50%;
}

.tail {
    height: 20px;
    width: 10px;
    margin-left: 0.5px;
    border-radius: 80%;

    /* background-color: yelbalow; */
}

.tail1 {
    border-left: 2px solid green;
    /* border-bottom: 2px solid green; */
    -ms-transform: rotate(-10deg); /* IE 9 */
    transform: rotate(-10deg);
    margin-bottom: -5px;
}

.tail2 {
    border-right: 2px solid green;
    margin-left: -5px;
    /* border-top: 2px solid green; */
    /* border-bottom: 2px solid green; */
}

.tail3 {
    border-left: 2px solid green;
    /* border-top: 2px solid green; */
    -ms-transform: rotate(10deg); /* IE 9 */
    transform: rotate(10deg);
    margin-top: -5px;
}
